<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    <fieldset>
        <form action="" method="POST">
            <label for="username">имя пользователя: </label>
            <input id="username" type="text" name="username">

            <label for="password">пароль: </label>
            <input id="password" type="password" name="password">

            <!-- CSRF TOKEN -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <button type="submit" id="login-submit">отправить</button>
        </form>
    </fieldset>
    <sub><a href="{{ url_for('auth.registration') }}">Создать новый аккаунт</a></sub>
    <link rel="stylesheet" href="style.css" type="text">
    
</body>
</html>