<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css"><!--  TODO NOCACHE -->
    <title>Вход</title>
</head>
<body>
    <fieldset class="login-fieldset">
        <form class="login-fieldset__form" action="{{ url_for('api.auth.registration') }}" method="POST">
            <label for="username">имя пользователя: </label>
            <input id="username" type="text" name="username">

            <label for="password">пароль: </label>
            <input id="password" type="password" name="password">

            <!-- CSRF TOKEN -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="redirect" value="True"/>

            <button type="submit" id="login-submit">отправить</button>
        </form>
    </fieldset>
    <sub>Уже есть аккаунт? <a href="{{ url_for('index.login') }}">Войти</a></sub>
    
</body>
</html>